<div class="footer">
    <div class="row">
        <div class="col-lg-10">
            <h1> Desenvolvido por @Letícia Lins <br><br> ©2023 - Todos os direitos reservados. </h1>
        </div>

        <div class="col-lg-2">
            <h4>Siga nossas redes</h4>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i> </a>
            <a href="#" target="_blank"><i class="bi bi-facebook"></i> </a>

        </div>

    </div>  

</div>
