<h1>Sobre Filmes!</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum placerat condimentum. Fusce sit amet imperdiet ipsum, a maximus augue. Fusce consequat, sem sit amet vestibulum facilisis, massa velit dictum sem, eget rutrum magna quam eu odio. 
    In eu sagittis ex. Phasellus consectetur nunc eget nibh tincidunt, non rhoncus lorem interdum. Ut ultrices blandit felis, ut porttitor erat posuere in. Praesent mi odio, facilisis vel ex ac, blandit vulputate arcu. Aenean tristique eu risus sed dapibus. 
    Maecenas ultrices sem non venenatis posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam malesuada pharetra vulputate.
</p>

<div class="imagem">
    <img id="filme" src="../../../assets/img/filme.jpg" alt="imagem do filme">
</div>
    